*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Georgia, serif;
  font-size: 20px;
  text-align: center;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
