.load-more-btn.is-hidden {
  display: none;
}

.spinner.is-hidden {
  display: none;
}

.load-more-btn {
  padding: 5px 15px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 500;
  background-color: #c232329c;
}

.spinner {
  margin-bottom: 8px;
}
